@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*! purgecss start ignore */
  a {
    @apply transition-colors;
  }

  [aria-hidden='true'] {
    @apply sr-only;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    font-size: initial !important;
    background-color: #1f2937 !important;
  }
  /*! purgecss end ignore */
}

@layer utilities {
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
