@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*! purgecss start ignore */
  a {
    @apply transition-colors;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    @apply text-base !important;
    @apply bg-gray-800 !important;
  }
  /*! purgecss end ignore */
}

@layer utilities {
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
